<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="
    https://cdn.jsdelivr.net/npm/xterm@5.1.0/css/xterm.min.css
    " rel="stylesheet">
  <style>
    body {
        font-family: helvetica, sans-serif, arial;
        font-size: 1em;
        color: #111;
        margin: 0;
        padding: 0;
      }
    #terminal-container {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
      
      }
  </style>
</head>
<body>
  <div id="terminal-container"></div>
  <script src="
https://cdn.jsdelivr.net/npm/xterm@5.1.0/lib/xterm.min.js
"></script>
<script src="
https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.7.0/lib/xterm-addon-fit.min.js
"></script>
<script src="
https://cdn.jsdelivr.net/npm/xterm-addon-attach@0.8.0/lib/xterm-addon-attach.min.js
"></script>

  <script>

    const terminal = new Terminal({
      fontSize: 14,
      fontFamily: 'Consolas, "Courier New", monospace',
      bellStyle: 'sound',
      cursorBlink: true,
    });
    const fitAddon = new FitAddon.FitAddon()
    const qs = new URLSearchParams(location.search)
    
    let ws_url = 'ws://' + `${window.location.host}` + '/terminal/' +
        `${qs.get('namspace')}` + '/' +
        `${qs.get('pod')}` + '/' +
        `${qs.get('container')}`;
    const websocket = new WebSocket(ws_url)
    const attachAddon = new AttachAddon.AttachAddon(websocket)
    terminal.loadAddon(attachAddon)
    terminal.loadAddon(fitAddon)
    var terminalContainer = document.getElementById('terminal-container');

    
    terminal.open(terminalContainer);
 
    fitAddon.fit()
    socket.onclose = function () {
        term.writeln("closed. Thank you for use!");
    }
  </script>
</body>
</html>